.header-outer-container {
  background-color: black;
  height: 10vh;
  background-color: transparent;
  /* background-color: rgb(20, 20, 20); */
  position: sticky;
  top: 0;
   left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
}
.header-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header-container ul li {
  list-style-type: none;
  cursor: pointer;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 140%;
}
.header-right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;}
  .Netflixlogo{
    cursor: pointer;
  }
@media (max-width: 768px) {

.header-outer-container{
  width: 100%;
}
.header-container{
  width: 100%;
}
.header-container ul li{
  display: none;
  
}
.header-container ul li img{
  display: block;
}



   }